<!DOCTYPE html>
<html ng-app="App">
<head>
	<meta charset="utf-8">
	<title>E3D viewer</title>

	<link rel="stylesheet" type="text/css" href="asset/css/base.css">

	<script type="text/javascript" src="asset/js/vendor/jquery.min.js"></script>
	<script type="text/javascript" src="asset/js/vendor/angular.min.js"></script>

	<!-- Fancybox -->
	<link rel="stylesheet" type="text/css" href="asset/js/vendor/fancybox/source/jquery.fancybox.css">
	<script type="text/javascript" src="asset/js/vendor/fancybox/source/jquery.fancybox.pack.js"></script>

	<script type="text/javascript" src="asset/js/viewer.js"></script>
</head>
<body ng-controller="WallController">

	<div class="header">
		<div class="logo">
			<a href="index.html">Logo</a>
		</div>
		<div class="nav-current">
			{{ viewer.title }}
		</div>
		<div class="nav-right">
			<ul class="nav">
				<li ng-repeat="menu in menus"><a href="#{{ menu.category }}">{{ menu.title }}</a></li>
			</ul>
		</div>
	</div>

	<div class="content">

		<ul class="nav nav-photowall">

			<li ng-repeat="photo in viewer.photos ">
				<div class="imgbox">
					<a href="{{ photo.img }}" class="fancybox" rel="gallery" title="<div style='font-size: 16px;'>{{ photo.name }}</div><div style='max-width: 600px; white-space: pre-wrap;'>{{ photo.descript }}</div>">
						<img src="{{ photo.img }}">
					</a>
				</div>
				<div class="titlebox">
					{{ photo.name }}
				</div>
			</li>

		</ul>

	</div>

</body>
</html>