@import "mixin";
@import "compass";

.stage {
	position: absolute;
}

.tile {
	position: absolute;
	overflow: hidden;
	@include transform(translate(0, 1000px));
}

.logo {
	white-space: nowrap;
	position: absolute;
	top: -60px;
	color: #fff;
	font-size: 36px;

	a {
		color: #fff;
		text-decoration: none;
	}
}