@import "mixin";
@import "compass";

.stage {
	position: absolute;
}

.tiles {
	margin-bottom: 10px;
}

.tile {
	position: absolute;
	overflow: hidden;
	@include transform(translate(0, 1000px));
}

.logo {
	white-space: nowrap;
	position: absolute;
	top: -60px;
	color: #fff;
	font-size: 40px;

	a {
		display: inline-block;
		color: #fff;
		text-decoration: none;
		margin-right: 10px;
	}

	span {
		font-size: 20px;
	}
}

.footer {
	text-align: center;
	a.records {
		color: #fff;
		color: rgba(255,255,255,.2);
		text-decoration: none;
		font-size: 14px;
	}
}